.Project {
    /* display */
    /* justify-content: space-between; */
    /* position */
    position: relative;
    margin: 0 auto;
    /* background */
    background: rgb(19, 19, 19);
    box-shadow: none;
    box-shadow: 0px 0px 20px 1px rgba(105, 105, 105, 0.226);
}
.Project.active {
    /* background */
    background: rgba(2, 26, 31, 0.288);
    box-shadow: 0 0 10px -3px rgba(188, 188, 218, 0.486);
}
    .Project > div {
        /* position */
        margin: 10px;
    }
    .Project > .bottom {
        /* display */
        display: flex; flex-flow: row;
        justify-content: space-between;
        /* position */
        position: relative;
        margin: 5px 20px;
    }
@media screen and (max-width: 1000px) {
    .Project {
        /* position */
        /* margin-bottom: 25px; */
        /* size */
        /* width: 90vw; */
        /* height: unset; */
        /* padding-bottom: 25px; */
    }
}
@media screen and (max-width: 500px) {
    .Project {
        /* display */
        display: flex; flex-flow: column;
    }
        .Project > .bottom {
            /* display */
            display: flex; flex-flow: column;
            /* position */
            margin: 2px;
            /* size */
            padding-bottom: 5px;
        }
}
.Diffuse {
    background: rgb(98, 109, 114);
}.BikeStar {
    background: rgb(98, 105, 114);
}.Cofi {
    background: rgb(98, 102, 114);
}.BDA {
    background: rgb(98, 98, 114);
}