/* ###################################################################### */
/* ################################ BODY ################################ */
.Body {}
/* ################################ BODY ################################ */
/* ###################################################################### */

/* ########################################################################## */
/* ################################ PROGRESS ################################ */
.Progress {
    /* position */
    position: fixed;
    top: 50px;
    /* size */
    width: 100vw; height: 10px;
    /* background */
    background: grey;
    z-index: 10;
}
    .Progress .prog-amt {
        background: rgb(182, 197, 212);
        border-radius: 5px;
        z-index: 100;
    }

/* ################################ PROGRESS ################################ */
/* ########################################################################## */


/* ####################################################################### */
/* ################################ INTRO ################################ */
.Intro {
    /* position */
    position: relative;
    /* size */
    width: 100%; height: 100px;
    /* background */
    background: rgb(98, 106, 114);
}
    .Intro .introNav {
        /* display */
        display: flex; flex-flow: row;
        justify-content: space-between;
        align-items: center;
        /* position */
        position: sticky;
        top: 0; left: 0;
        margin-left: -12.5vw;
        /* size */
        width: 100vw; height: 50px;
        /* background */
        background: rgb(79, 85, 92);
        z-index: 100000;
        /* text */
        color: gainsboro;
    }
        .Intro .introNav .title {
            /* size */
            width: 100%;
            /* text */
            text-align: center;
            font-weight: 500;
            font-size: 30px;
            font-family: helvetica;
        }
/* ################################ INTRO ################################ */
/* ####################################################################### */