.Project {
    /* display */
    justify-content: space-between;
    /* position */
    position: relative;
    margin: 0 auto;
    /* size */
    /* width: 75vw; */
    /* background */
    box-shadow: none;
}
.Project.active {
    /* background */
    box-shadow: 0 0 7px -1px rgb(188, 188, 218);
}

@media screen and (max-width: 1000px) {
    .Project {
        /* position */
        margin-bottom: 25px;
        /* size */
        width: 90vw;
        height: unset;
        padding-bottom: 25px;
    }
}
@media screen and (max-width: 1500px) {
    .Project {
        display: flex; flex-flow: column;
    }
}
.Diffuse {
  background: rgb(98, 109, 114);
}.BikeStar {
  background: rgb(98, 105, 114);
}.Cofi {
  background: rgb(98, 102, 114);
}.BDA {
  background: rgb(98, 98, 114);
}