.Project {
    /* display */
    justify-content: space-between;
    /* position */
    position: relative;
    /* background */
    box-shadow: none;
}
.Project.active {
    /* background */
    box-shadow: 0 0 7px -1px rgb(188, 188, 218);
}










.project {
    position: relative;
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;
}
  
  .ProjectStack {
    display: flex; flex-flow: row;
    justify-content: center;
    color: rgb(234, 240, 243);
  }
    .ProjectStack .group {
      margin: 20px;
      margin-top: 0;
      border-radius: 10px;
      box-shadow: .05em -.05em .3em rgb(44, 48, 56);
      background: rgb(72, 89, 122);
      color: rgb(234, 240, 243);
    }
      .ProjectStack .group .group-title {
        margin: 5px;
        padding: 0 20px;
        text-align: center;
        border-bottom: 1px solid white;
      }
      .ProjectStack .group .group-list {
        margin: 10px 20px;
      }
        .ProjectStack .group .group-list .tool {
          margin: 10px 0;
        }
  @media screen and (max-width: 1000px) {
    .project {
      width: 90vw;
      height: unset;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }
    
    /* .ProjectStack {
      display: flex; flex-flow: row;
      margin: 10px;
      padding: 10px;
      background: rgba(164, 185, 226, 0.637);
    } */
      /* .ProjectStack .group {
        margin: 5px 10px;
        background: rgb(72, 89, 122);
        color: rgb(234, 240, 243);
      } */
        /* .ProjectStack .group .group-title {
          margin: 5px;
          padding: 0 20px;
          text-align: center;
          border-bottom: 1px solid white;
        } */
        /* .ProjectStack .group .group-list .tool {
          margin: 5px;
        } */
  }
    
/* ############################################################################################################################ */
/* ########################################################## Diffuse ######################################################### */
.Diffuse {
  background: rgb(98, 109, 114);
}
/* ########################################################## Diffuse ######################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ######################################################### BikeStar ######################################################### */
.BikeStar {
  /* background: rgb(98, 105, 112); */
  background: rgb(98, 105, 114);
}
/* ######################################################### BikeStar ######################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ########################################################### Cofi ########################################################### */
.Cofi {
  /* background: rgb(98, 108, 112); */
  background: rgb(98, 102, 114);
}
/* ########################################################### Cofi ########################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ########################################################### Cofi ########################################################### */
.BDA {
  /* background: rgb(99, 102, 104); */
  /* background: rgb(98, 104, 114); */
  background: rgb(98, 98, 114);
}
/* ########################################################### Cofi ########################################################### */
/* ############################################################################################################################ */

/* ########################################################### PROJECTS ########################################################### */
/* ################################################################################################################################ */

@media screen and (max-width: 1500px) {
  .Main .project {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: unset; height: unset; */
  }
}
