.Project {
    /* display */
    justify-content: space-between;
    /* position */
    position: relative;
    /* background */
    box-shadow: none;
}
.Project.active {
    /* background */
    box-shadow: 0 0 7px -1px rgb(188, 188, 218);
}










.project {
    position: relative;
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;
}
  
  
  @media screen and (max-width: 1000px) {
    .project {
      width: 90vw;
      height: unset;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }
  }
    
/* ############################################################################################################################ */
/* ########################################################## Diffuse ######################################################### */
.Diffuse {
  background: rgb(98, 109, 114);
}
/* ########################################################## Diffuse ######################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ######################################################### BikeStar ######################################################### */
.BikeStar {
  /* background: rgb(98, 105, 112); */
  background: rgb(98, 105, 114);
}
/* ######################################################### BikeStar ######################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ########################################################### Cofi ########################################################### */
.Cofi {
  /* background: rgb(98, 108, 112); */
  background: rgb(98, 102, 114);
}
/* ########################################################### Cofi ########################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ########################################################### Cofi ########################################################### */
.BDA {
  /* background: rgb(99, 102, 104); */
  /* background: rgb(98, 104, 114); */
  background: rgb(98, 98, 114);
}
/* ########################################################### Cofi ########################################################### */
/* ############################################################################################################################ */

/* ########################################################### PROJECTS ########################################################### */
/* ################################################################################################################################ */

@media screen and (max-width: 1500px) {
  .Main .project {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: unset; height: unset; */
  }
}
