.ProjectPreview {
    /* position */
    position: relative;
    display: flex; flex-flow: row;
    justify-content: center;
    /* margin: 0 auto; */
    /* size */
    /* min-width: 100%; */
    /* background */
    /* perspective: 1px; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    /* max-height: 100px; */
    /* position: relative; */
    height: 100%;
    -webkit-perspective: 100px;
    perspective: 100px;
    -webkit-perspective-origin: 0 0;
    perspective-origin: 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* -webkit-transform-style: preserve-3d; */
    /* transform-style: preserve-3d; */
}
    .ProjectPreview .imgContainer {
        /* display */
        display: flex; flex-flow: row;
        justify-content: center;
        align-items: center;
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        z-index: -1;
    }
        .ProjectPreview .imgContainer .imgLink {
            /* position: relative; */
            /* -webkit-transform-style: preserve-3d; */
            /* transform-style: preserve-3d; */
            /* z-index: -1; */
            /* -webkit-transform: translateZ(-50px) scale(2); */
            /* transform: translateZ(-50px) scale(2); */
            /* width: 100%; */
        }
            .ProjectPreview .imgContainer .preview-img {
                -webkit-transform: translateZ(-50px) scale(1);
                transform: translateZ(-50px) scale(1);
                /* width: 100%; */
            }

@media screen and (max-width: 1000px) {
    .ProjectPreview {
        /* width: 80%; */
        /* max-width: 100px; */
    }
        .ProjectPreview .imgContainer {
            /* display */
            /* display: unset; flex-flow: unset; */
            /* justify-content: unset; */
            /* overflow-x: unset; */
            /* max-height: 5%; */
            /* max-width: 100px; */
        }
            .ProjectPreview .imgContainer .imgLink {
                /* max-height: 5%; */
                /* max-width: 100px; */
            }
                .ProjectPreview .imgContainer .imgLink .preview-img {
                    /* position */
                    /* margin: 0 auto; */
                    /* size */
                    /* width: 80vw; */
                    
                    /* max-height: 5%; */
                    /* max-width: 100px; */
                }
}
@media screen and (max-width: 500px) {
    .ProjectPreview {}
        .ProjectPreview .imgContainer {}
            .ProjectPreview .imgContainer .imgLink {}
                .ProjectPreview .imgContainer .preview-img {
                    -webkit-transform: unset;
                    transform: unset;
                    width: 100%;
                }
}