.Main {
    /* display */
    display: flex; flex-flow: column;
    justify-content: space-between;
    /* position */
    position: relative;
    /* size */
    width: 100vw; min-width: 100vw; max-width: 100vw;
    height: 100vh; min-height: 100vh; max-height: 100vh;
    /* background */
    background: rgb(19, 19, 19);
    box-shadow: inset 0px 0px 100px 0px rgb(37, 37, 37);
    box-sizing: border-box;
    overflow-y: hidden;
}