.Main {
    /* size */
    width: 100vw; min-width: 100vw; max-width: 100vw;
    height: 100vw; min-height: 100vw; max-height: 100vw;
    /* background */
    background: rgb(19, 19, 19);
    box-shadow: inset 0px 0px 100px 0px rgb(70, 70, 70);
}