.ProjectNav {
    /* display */
    display: flex; flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    /* position */
    position: sticky;
    top: 0; left: 0;
    /* size */
    width: 100%; min-width: 100%; max-width: 100%;
    height: 35px; min-height: 35px; max-height: 35px;
    /* background */
    background: rgba(22, 24, 27, 0.671);
    box-shadow: 0 0 10px 2px rgba(22, 24, 27, 0.671);
    z-index: 1;
    /* text */
    color: gainsboro;
}
    .ProjectNav .title {
        /* position */
        margin-left: 20px;
        /* text */
        text-align: center;
        font-weight: 300;
        font-size: 30px;
        font-family: helvetica;
    }
    .ProjectNav .urls {
        /* display */
        display: flex; flex-flow: row;
        justify-content: flex-end;
        align-items: flex-end;
        /* position */
        margin-right: 20px;
    }
        .ProjectNav .urls a {
            /* display */
            display: flex; flex-flow: row;
            justify-content: flex-end;
            align-items: flex-end;
            /* size */
            padding: 0px 15px;
            /* background */
            border-left: 1px solid rgba(63, 63, 63, 0.301);
            border-right: 1px solid rgb(63, 63, 63, 0.301);
            /* text */
            font-weight: 100;
            font-size: 22px;
        }

@media screen and (max-width: 1000px) {
    .ProjectNav {
        /* size */
        width: 100vw;
    }
        .ProjectNav .title {
            /* size */
            width: 100%;
        }
        .ProjectNav .urls {
            /* position */
            margin-right: 2px;
        }
            .ProjectNav .urls a {
                /* position */
                margin: auto 2px;
                /* size */
                padding: 5px auto;
            }
}
@media screen and (max-width: 500px) {

}