.ProjectNav {
    /* display */
    display: flex; flex-flow: row;
    justify-content: space-between;
    align-items: center;
    /* position */
    position: sticky;
    top: 0; left: 0;
    margin-left: -12.5vw;
    /* size */
    width: 100vw; height: 50px;
    /* background */
    background: rgb(70, 75, 80);
    z-index: 100000;
    /* text */
    color: gainsboro;
}

    .ProjectNav .home {
        /* position */
        margin-left: 10px;
        /* size */
        padding: 10px 20px;
        /* background */
        background: rgba(255, 255, 255, 0.068);
        border-radius: 10px;
    }
    .ProjectNav .title {
        /* position */
        margin-left: 20px;
        /* size */
        width: 50%;
        /* text */
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        font-family: helvetica;
    }
    .ProjectNav .urls {
        /* display */
        display: flex; flex-flow: row;
        /* position */
        margin-right: 10px;
    }
        .ProjectNav .urls a {
            /* position */
            margin: 0 5px;
            /* size */
            height: 90%;
            padding: 10px 5px;
            /* background */
            background: rgba(17, 17, 17, 0.137);
            border-radius: 5px;
        }

@media screen and (max-width: 1000px) {
    .ProjectNav {
        /* size */
        width: 100vw;
    }
        .ProjectNav .title {
            /* size */
            width: 100%;
        }
        .ProjectNav .urls {
            /* position */
            margin-right: 2px;
        }
            .ProjectNav .urls a {
                /* position */
                margin: auto 2px;
                /* size */
                padding: 5px auto;
            }
}