.ProjectStack {
    /* display */
    display: flex; flex-flow: row;
    justify-content: center;
    /* text */
    color: rgb(234, 240, 243);
}
    .ProjectStack .group {
        /* position */
        margin: 20px;
        margin-top: 0;
        /* background */
        background: rgb(72, 89, 122);
        border-radius: 5px;
        box-shadow: .05em -.05em .3em rgb(44, 48, 56);
        /* text */
        color: rgb(234, 240, 243);
    }
        .ProjectStack .group .group-title {
            /* position */
            margin: 5px;
            /* size */
            padding: 0 20px;
            /* background */
            border-bottom: 1px solid white;
            /* text */
            text-align: center;
        }
        .ProjectStack .group .group-list {
            /* position */
            margin: 10px 20px;
        }
            .ProjectStack .group .group-list .tool {
                /* position */
                margin: 7px 0;
            }

@media screen and (max-width: 500px) {
    .ProjectStack {
        /* display */
        display: flex; flex-flow: row;
        justify-content: center;
    }
        .ProjectStack .group .group-list .tool {
            /* position */
            margin: 5px 0;
            /* text */
            font-size: 13px;
        }
}