body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.noselect {
  user-select: none;
  -webkit-user-select: none;
}

/* ########################################################################################################################### */
/* ########################################################### Nav ########################################################### */
.Nav {
  position:absolute; position: fixed;
  display: flex; flex-flow: row;
  top: 0;
  width:100%; height: 60px;
  margin: auto;
  justify-content: space-evenly;
  align-content: center;
  /* height: 200px;width: 200px; */
  color: whitesmoke;
  background: linear-gradient( rgba(107, 121, 150, 1), rgba(107, 121, 150, .99), rgba(107, 121, 150, .99), rgba(107, 121, 150, .99), rgba(107, 121, 150, .99), rgba(107, 121, 150, 0)) ;
  z-index: 10000000;
}
  .Nav div {
    margin-top: 15px;
  }

/* ########################################################### Nav ########################################################### */
/* ########################################################################################################################### */

/* ############################################################################################################################ */
/* ########################################################### Main ########################################################### */
.Main {
  /* top: 60px; */
  /* margin-top: 50px; */
}
  /* ###################################################################################### */
  /* ###################################### Progress ###################################### */
  .Progress {
    position: fixed;
    top: 50px;
    width: 100vw; height: 10px;
    background: grey;
    z-index: 10;
  }
    .Progress .prog-amt {
      background: rgb(141, 109, 109);
      border-radius: 5px;
      z-index: 100;
    }
  /* ###################################### Progress ###################################### */
  /* ###################################################################################### */
/* ########################################################### Main ########################################################### */
/* ############################################################################################################################ */

/* ################################################################################################################################ */
/* ########################################################### PROJECTS ########################################################### */
.flexcol {display: flex; flex-flow: column;}
.flexrow {display: flex; flex-flow: row;}

.left, .right {position:absolute; margin: 0;}
.left {left: 0;}
.right {right: 0;}

a {all: unset; cursor: pointer;}
.Intro {
  position: relative;
  width: 100%; height: 50vh;
  background: darkcyan;
}
.project {
  /* display: flex; flex-flow: row; */
  position: relative;
  justify-content: space-between;
  width: 100%;
  /* height: 600px; */
  height: 100vh;
}
  .ProjectNav {
    display: flex; flex-flow: row;
    position: sticky; top: 0;
    width: 100%; height: 50px;
    justify-content: space-between;
    align-items: center;

    background: rgb(121, 136, 156);
    z-index: 100000;
  }
    .ProjectNav .home {
      margin-left: 10px;
      padding: 10px 20px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.068);
    }
    .ProjectNav .title {
      width: 50%;
      margin-left: 20px;
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      font-family: helvetica;
    }
    .ProjectNav .urls {
      display: flex; flex-flow: row;
      margin-right: 10px;
    }
      .ProjectNav .urls a {
        padding: 10px 5px;
        margin: 0 5px;
        height: 90%;
        border-radius: 5px;
        background: rgba(17, 17, 17, 0.137);
      }
  @media screen and (max-width: 1000px) {
    .ProjectNav .title {
      font-size: 30px;
      width: 100%;
    }
    .ProjectNav .urls {
      margin-right: 2px;
    }
      .ProjectNav .urls a {
        margin: auto 2px;
        padding: 5px;
      }
    img {
      max-width: 80vw;
    }
  }
  .intro-container {
    /* position: relative; */
    /* margin: 0; */
    width: 40%;
    margin-top: -40px;
  }
    .ProjectIntro {
      display: flex; flex-flow: column;
      align-items: center;
      position: relative;
      width: 500px;
      margin: 0 100px;
      margin-top: 100px;
      border-radius: 5px;
      background: rgba(185, 188, 202, 0.685);
      /* box-shadow: 0px -5px 10px 10px rgb(167, 167, 163) inset; */
    }
      .ProjectIntro .title {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        border-radius: 5px 5px 0 0;
        box-shadow: -.5px 3px 5px .1px rgba(0, 0, 0, 0.288);
        color: rgb(168, 191, 233);
        background:rgb(35, 57, 71);
      }
      .ProjectIntro .urls {
        display: flex; flex-flow: row;
        justify-content: center; align-items: center;
        text-align: center;
        background:rgba(35, 57, 71, 0.411);
        width: 100%;
      }
        .ProjectIntro .urls .url-container {
          display: flex; flex-flow: row;
          justify-content: space-between;
          width: 100%;
        }
          .ProjectIntro .url-container a {
            width: 50%;
            margin: 5px 5px;
            padding: 7px 10px;
            color: rgb(255, 255, 255);
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
            font-weight: 800;
            background: cornflowerblue;
            box-shadow: 0 0 3px .1px rgba(0, 0, 0, 0.151);
            border-radius: 3px;
        }
      .ProjectIntro .description {
        position: relative;
        bottom: 0;
        margin: 5px;
        padding: 10px;
        border-radius: 2px;
        background: rgba(243, 243, 243, 0.815);
        box-shadow: 0 0 3px .1px rgba(0, 0, 0, 0.151);
      }
      .ProjectIntro .stack {
        display: flex; flex-flow: row;
        margin: 10px;
        padding: 10px;
        background: rgba(164, 185, 226, 0.637);
      }
        .ProjectIntro .stack .group {
          margin: 5px 10px;
          background: rgb(72, 89, 122);
          color: rgb(230, 238, 253);
        }
          .ProjectIntro .stack .group .group-title {
            margin: 5px;
            padding: 0 20px;
            text-align: center;
            border-bottom: 1px solid white;
          }
          .ProjectIntro .stack .group .group-list .tool {
            margin: 5px;
          }
  .pd-container {
    display: flex; flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 60%;
  }
    .ProjectPreview {
      position: relative;
      max-width: 100%;
      /* height: 25%; */
      margin: 0 auto;
      /* margin-top: 15px; */
      background: rgb(51, 51, 50);
      /* overflow: visible; */
    }
      .ProjectPreview:hover {
        /* overflow: visible; */
        z-index: 100;
      }
    .ProjectDescription {
      position: relative;
      width: 80%; height: 65%;
      margin: auto;
      margin-bottom: 25px;
      background: rgb(119, 119, 119);
    }
    
/* ############################################################################################################################ */
/* ########################################################## Diffuse ######################################################### */
.Diffuse {
  background: rgb(153, 118, 95);
}
/* ########################################################## Diffuse ######################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ######################################################### BikeStar ######################################################### */
.BikeStar {
  background: rgb(78, 70, 70);
}
/* ######################################################### BikeStar ######################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ########################################################### Cofi ########################################################### */
.Cofi {
  background: rgb(112, 112, 98);
}
/* ########################################################### Cofi ########################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ########################################################### Cofi ########################################################### */
.BDA {
  background: rgb(74, 121, 129);
}
/* ########################################################### Cofi ########################################################### */
/* ############################################################################################################################ */

/* ########################################################### PROJECTS ########################################################### */
/* ################################################################################################################################ */

@media screen and (max-width: 1500px) {
  .Main .project {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: unset; height: unset; */
  }
}