body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.noselect {
  user-select: none;
  -webkit-user-select: none;
}

/* ########################################################################################################################### */
/* ########################################################### Nav ########################################################### */
.Nav {
  position:absolute; position: fixed;
  display: flex; flex-flow: row;
  top: 0;
  width:100%; height: 60px;
  margin: auto;
  justify-content: space-evenly;
  align-content: center;
  color: whitesmoke;
  background: linear-gradient( rgba(107, 121, 150, 1), rgba(107, 121, 150, .99), rgba(107, 121, 150, .99), rgba(107, 121, 150, .99), rgba(107, 121, 150, .99), rgba(107, 121, 150, 0)) ;
  z-index: 10000000;
}
  .Nav div {
    margin-top: 15px;
  }

/* ########################################################### Nav ########################################################### */
/* ########################################################################################################################### */

/* ############################################################################################################################ */
/* ########################################################### Main ########################################################### */
.Main {
  /* top: 60px; */
  /* margin-top: 50px; */
}
  /* ###################################################################################### */
  /* ###################################### Progress ###################################### */
  .Progress {
    position: fixed;
    top: 50px;
    width: 100vw; height: 10px;
    background: grey;
    z-index: 10;
  }
    .Progress .prog-amt {
      background: rgb(182, 197, 212);
      border-radius: 5px;
      z-index: 100;
    }
  /* ###################################### Progress ###################################### */
  /* ###################################################################################### */
/* ########################################################### Main ########################################################### */
/* ############################################################################################################################ */

/* ################################################################################################################################ */
/* ########################################################### PROJECTS ########################################################### */
.flexcol {display: flex; flex-flow: column;}
.flexrow {display: flex; flex-flow: row;}

.left, .right {position:absolute; margin: 0;}
.left {left: 0;}
.right {right: 0;}

a {all: unset; cursor: pointer;}
.Intro .introNav, .ProjectNav {
  display: flex; flex-flow: row;
  position: sticky; top: 0; left: 0;
  width: 100vw; height: 50px;
  margin-left: -12.5vw;
  justify-content: space-between;
  align-items: center;
  
  color: gainsboro;
  z-index: 100000;
}
.Intro {
  position: relative;
  width: 100%; height: 100px;
  background: rgb(98, 106, 114);
}
  .Intro .introNav {
    background: rgb(79, 85, 92);
  }
    .Intro .introNav .title {
      width: 100%;
      /* margin-left: 20px; */
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      font-family: helvetica;
    }
.project {
  position: relative;
  justify-content: space-between;
  width: 75vw;
  margin: 0 auto;
}
  .ProjectNav {
    background: rgb(70, 75, 80);
  }
    .ProjectNav .home {
      margin-left: 10px;
      padding: 10px 20px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.068);
    }
    .ProjectNav .title {
      width: 50%;
      margin-left: 20px;
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      font-family: helvetica;
    }
    .ProjectNav .urls {
      display: flex; flex-flow: row;
      margin-right: 10px;
    }
      .ProjectNav .urls a {
        padding: 10px 5px;
        margin: 0 5px;
        height: 90%;
        border-radius: 5px;
        background: rgba(17, 17, 17, 0.137);
      }
  .ProjectPreview {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
    .ProjectPreview a {
      display: flex;
      flex-flow: row;
      justify-content: center;
    }
      .ProjectPreview a img {}
  .ProjectDescription {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgba(245, 245, 245, 0.192);
    color: rgb(234, 240, 243);
  }
  .ProjectStack {
    display: flex; flex-flow: row;
    justify-content: center;
    color: rgb(234, 240, 243);
  }
    .ProjectStack .group {
      margin: 20px;
      margin-top: 0;
      border-radius: 10px;
      box-shadow: .05em -.05em .3em rgb(44, 48, 56);
      background: rgb(72, 89, 122);
      color: rgb(234, 240, 243);
    }
      .ProjectStack .group .group-title {
        margin: 5px;
        padding: 0 20px;
        text-align: center;
        border-bottom: 1px solid white;
      }
      .ProjectStack .group .group-list {
        margin: 10px 20px;
      }
        .ProjectStack .group .group-list .tool {
          margin: 10px 0;
        }
  @media screen and (max-width: 1000px) {
    .project {
      width: 90vw;
      height: unset;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }
    
    /* .ProjectStack {
      display: flex; flex-flow: row;
      margin: 10px;
      padding: 10px;
      background: rgba(164, 185, 226, 0.637);
    } */
      /* .ProjectStack .group {
        margin: 5px 10px;
        background: rgb(72, 89, 122);
        color: rgb(234, 240, 243);
      } */
        /* .ProjectStack .group .group-title {
          margin: 5px;
          padding: 0 20px;
          text-align: center;
          border-bottom: 1px solid white;
        } */
        /* .ProjectStack .group .group-list .tool {
          margin: 5px;
        } */
  }
    
/* ############################################################################################################################ */
/* ########################################################## Diffuse ######################################################### */
.Diffuse {
  background: rgb(98, 109, 114);
}
/* ########################################################## Diffuse ######################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ######################################################### BikeStar ######################################################### */
.BikeStar {
  /* background: rgb(98, 105, 112); */
  background: rgb(98, 105, 114);
}
/* ######################################################### BikeStar ######################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ########################################################### Cofi ########################################################### */
.Cofi {
  /* background: rgb(98, 108, 112); */
  background: rgb(98, 102, 114);
}
/* ########################################################### Cofi ########################################################### */
/* ############################################################################################################################ */

/* ############################################################################################################################ */
/* ########################################################### Cofi ########################################################### */
.BDA {
  /* background: rgb(99, 102, 104); */
  /* background: rgb(98, 104, 114); */
  background: rgb(98, 98, 114);
}
/* ########################################################### Cofi ########################################################### */
/* ############################################################################################################################ */

/* ########################################################### PROJECTS ########################################################### */
/* ################################################################################################################################ */

@media screen and (max-width: 1500px) {
  .Main .project {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: unset; height: unset; */
  }
}

@media screen and (max-width: 1000px) {
  .ProjectNav {
    width: 100vw;
  }
    .ProjectNav .title {
      width: 100%;
    }
    .ProjectNav .urls {
      margin-right: 2px;
    }
      .ProjectNav .urls a {
        margin: auto 2px;
        padding: 5px auto;
      }
  .ProjectPreview {}
    .ProjectPreview a {
      display: unset;
      flex-flow: unset;
      justify-content: unset;
    }
    .ProjectPreview a img {
      width: 80vw;
      margin: 0 auto;
    }
}