body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ################################################################################################################################ */
/* ########################################################### defaults ########################################################### */
.flexcol {display: flex; flex-flow: column;}
.flexrow {display: flex; flex-flow: row;}

.left, .right {position:absolute; margin: 0;}
.left {left: 0;}
.right {right: 0;}

a {all: unset; cursor: pointer;}

.noselect {
  user-select: none;
  -webkit-user-select: none;
}