.Nav {
    /* display */
    display: flex; flex-flow: row;
    justify-content: space-evenly;
    align-content: center;
    /* position */
    position: fixed;
    top: 0;
    margin: auto;
    /* size */
    width: 100%; min-width: 100%; max-width: 100%;
    height: 60px;
    /* background */
    background: linear-gradient( rgba(107, 121, 150, 1), rgba(107, 121, 150, .99), rgba(107, 121, 150, .99), rgba(107, 121, 150, .99), rgba(107, 121, 150, .99), rgba(107, 121, 150, 0)) ;
    z-index: 10;
    /* text */
    color: whitesmoke;
}
    .Nav div {
        /* position */
        margin-top: 15px;
    }