.Nav {
    /* display */
    /* display: flex; flex-flow: row; */
    /* justify-content: space-between; */
    /* align-content: center; */
    /* position */
    /* position: relative; */
    /* top: 0; */
    /* margin: auto; */
    /* size */
    /* width: 100%; min-width: 100%; max-width: 100%; */
    /* height: 10vh; min-height: 30px; max-height: 50px; */
    /* background */
    /* background: rgb(27, 27, 27); */
    border-bottom: 1px solid rgba(128, 128, 128, 0.664);
    box-sizing: border-box;
    z-index: 10;
    /* text */
    color: whitesmoke;
}
    .Nav div {
        /* position */
        /* position: relative; */
        /* margin-top: 15px; */
    }
    .Nav > .home {
        /* display */
        /* display: flex; flex-flow: row; */
        /* justify-content: center; */
        /* align-items: center; */
        /* size */
        /* width: 10%; max-width: 10%; min-width: 50px; */
        /* background */
        /* background: transparent; */
        /* border: 1px solid rgb(75, 75, 75); */
        /* box-sizing: border-box; */
        /* text */
        /* font-size: 1em; */
        /* font-size: 20px; */
        /* font-weight: 800; */
    }
        .Nav > .projectElemList > .navProject {
            /* display */
            display: flex; flex-flow: row;
            justify-content: center;
            align-items: center;
            flex: 1;
            /* position */
            position: relative;
            /* size */
            min-width: 50px;
            height: 100%;
            /* background */
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-image: 
                linear-gradient(
                    to top, 
                    rgba(91, 143, 192, 0.089) .1%, 
                    rgba(0, 0, 0, 0) 100%,
                    rgba(0, 0, 0, 0) 1%
                ) 1 100%;
            /* text */
            text-overflow: ellipsis;
        }
        .Nav > .projectElemList > .navProject.active {
            /* background */
            background: rgba(136, 236, 253, 0.048);
            border: 1px solid rgb(66, 74, 77);
            border-radius: 5px;
            /* text */
            font-weight: 500;
            color: rgb(222, 246, 252);
        }

/* media queries */
@media screen and (max-width: 700px) {
    .Nav div {
        font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
    .Nav {
        height: 10vh; min-height: 30px; max-height: 40px;
    }
    .Nav div {
        font-size: 13px;
    }
    .Nav > .home {
        min-width: 20%;
        font-size: 13px;
    }
}